body{
    background-color: #bcd4e6;
}

.container{
    width: 280px;
    height: 440px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:
    translate(-50%, -50%);
}

.qr-code{
    width: 250px;
    height: 250px;
    margin: 50px auto;
    border-radius: 10px;
    position: relative;
    top: -40px;
}

.text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    position: relative;
    top: -60px;
    width: 200px;
    height: 40px;
    margin-left: 35px;
}

.scan{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000;
    position: relative;
    top: -60px;
    width: 200px;
    height: 40px;
    margin-left: 35px;
    color: #778ba5;
}

@media (min-width: 600px) {
    .container {
        width: 60%;
        max-width: 280px;
    }

    .qr-code {
        max-width: 300px;
    }

    .text, .scan {
        max-width: 300px;
    }
}